PORT=4000
DATABASE_URL=
JWT_SECRET =
JWT_EXPIRES_IN = "30m"
JWT_REFRESH_TOKEN_EXPIRES_IN="30d"
JWT_REFRESH_SECRET= 

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER='sendrey'

GOOGLE_VISION_KEY=

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

SUPPORT_PHONE = +2349125273293

# Email Configuration
EMAIL_PROVIDER=elastic
ELASTIC_EMAIL_API_KEY=
ELASTIC_EMAIL_FROM=no_reply@sendrey.com
SUPPORT_EMAIL=support@sendrey.com
ELASTIC_EMAIL_FROM_NAME="Sendrey"   

# Frontend URLs
FRONTEND_URL=
ADMIN_EMAIL=

LOGO_URL = 'https://sendrey.netlify.app/Sendrey-Logo-Variants-09.png'

# Logger Configuration
LOG_LEVEL=info
NODE_ENV=development

# Log files retention (in days)
LOG_RETENTION_DAYS=30

# Enable/disable specific log types
LOG_HTTP=true
LOG_DATABASE=true
LOG_AUDIT=true


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

KAFKA_ENABLED=true

KAFKA_BROKER=localhost:9092

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=2

# prod
# REDIS_HOST=redis://default:U0QrUkQcynS9miu2qkzEL7fu7oafMPLB@redis-19178.c232.us-east-1-2.ec2.cloud.redislabs.com:19178
# REDIS_PORT=19178
# REDIS_PASSWORD=
# REDIS_DB=0


